In [33]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [31]:
df = pd.read_csv('train(1).csv')[['Age','Pclass','Fare','Survived']]

In [24]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [27]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [29]:
x_train.head()

      Age  Pclass     Fare
259  50.0       2  26.0000
385  18.0       2  73.5000
441  20.0       3   9.5000
606  30.0       3   7.8958
481   NaN       2   0.0000

In [34]:
knn = KNNImputer(n_neighbors=3,weights='uniform')
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [35]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.7262569832402235

In [37]:
si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [38]:
lr2 = LogisticRegression()

lr2.fit(x_train_trf2,y_train)

y_pred2 = lr2.predict(x_test_trf2)

accuracy_score(y_test,y_pred2)

0.7262569832402235