In [1]:
import pandas as pd
import numpy as np

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [5]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [6]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [8]:
df.dropna(inplace=True)

In [10]:
x = df.iloc[:,1:]
y = df.iloc[:,0]

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
clf = DecisionTreeClassifier()

clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
accuracy_score(y_test,y_pred)

0.6293706293706294

In [31]:
trf = ColumnTransformer([
    ('first',KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile'),['Age']),
    ('second',KBinsDiscretizer(n_bins=14,encode='ordinal',strategy='quantile'),['Fare'])
]
)

In [32]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.transform(x_test)

In [33]:
clf = DecisionTreeClassifier()

clf.fit(x_train_trf,y_train)
y_pred2 = clf.predict(x_test_trf)
accuracy_score(y_test,y_pred2)

0.6433566433566433