In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

  Cabin            Ticket number  Survived
0   NaN         A/5 21171      5         0
1   C85          PC 17599      3         1
2   NaN  STON/O2. 3101282      6         1
3  C123            113803      3         1
4   NaN            373450      A         0

In [5]:
df['Cabin_num'] = df['Cabin'].str.extract('(\\d+)')
df['Cabin_cat'] = df['Cabin'].str[0]

In [6]:
df.head()

  Cabin            Ticket number  Survived Cabin_num Cabin_cat
0   NaN         A/5 21171      5         0       NaN       NaN
1   C85          PC 17599      3         1        85         C
2   NaN  STON/O2. 3101282      6         1       NaN       NaN
3  C123            113803      3         1       123         C
4   NaN            373450      A         0       NaN       NaN

In [8]:
# extract numerical part
df['number_numerical'] = pd.to_numeric(df["number"],errors='coerce',downcast='integer')

In [10]:
# extract categorical part
df['number_categorical'] = np.where(df['number_numerical'].isnull(),df['number'],np.nan)

df.head()

,Cabin,Ticket,number,Survived,Cabin_num,Cabin_cat,number_numerical,number_categorical
0,NaN,A/5 21171,5,0,NaN,NaN,5.0,NaN
1,C85,PC 17599,3,1,85,C,3.0,NaN
2,NaN,STON/O2. 3101282,6,1,NaN,NaN,6.0,NaN
3,C123,113803,3,1,123,C,3.0,NaN
4,NaN,373450,A,0,NaN,NaN,NaN,A